:root{
--blue-color: #0081D9;
--blue-color2: #2079F5;
--blue-color3: #00AEFF;
--gray-color: #4B5B6E;
--gray-color2: #A8AABC;
--gray-color3: #a3a7a6;
--hgray-color: #ececec;
--hgray-color2: #f1f5f9;
--hgray-color3: #f2f2f2;
--hgray-color4: #E9EFFF;
--hgray-color5: #F7F8FF;
--green-color: #006A7A;
--green-color2: #94C338;
--green-color3: #008C7F;
--hgreen-color: #E6F4F1;
--red-color: #FF9169;
--red-color2: #ff386f;
--hred-color: #FF907E;
--yellow-color: #F9F572;
--orange-color: #ffcd00;
--orange-color2: #FFC560;
--main-transition: 0.3s;
}            

/* Start Padding + Margin */
        /* Padding */
.p-0 {
padding: 0;
}
.p-5 {
padding: 5px;
}
.pl-5 {
padding-left: 5px;
}
.pr-5 {
padding-right: 5px;
}
.p-10 {
padding: 10px;
}
.p-15 {
padding: 15px;
}
.p-20 {
padding: 20px;
}
.p-30 {
padding: 30px;
}
.pt-0 {
padding-top: 0;
}
.pt-5 {
padding-top: 5px;
}
.pt-10 {
padding-top: 10px;
}
.pt-20 {
padding-top: 20px;
}
.pb-5{
padding-bottom: 5px;
}
.pb-10{
padding-bottom: 10px;
}
.pb-15{
padding-bottom: 15px;
}
.pb-20 {
padding-bottom: 20px;
}
.pl-10 {
padding-left: 10px;
}
.pl-20 {
padding-left: 20px;
}
.pr-10 {
padding-right: 10px;
}
.pr-20 {
padding-right: 20px;
}
    /* margin */
.m-0 {
margin: 0;
}
.m-10 {
margin: 10px;
}
.m-15 {
margin: 15px;
}
.m-20 {
margin: 20px;
}
.mt-0 {
margin-top: 0;
}
.mt-10 {
margin-top: 10px;
}
.mt-15 {
margin-top: 15px;
}
.mt-20 {
margin-top: 20px;
}
.mt-50 {
margin-top: 50px;
}
.mb-5 {
margin-bottom: 5px;
}
.mb-10 {
margin-bottom: 10px;
}
.mb-15 {
margin-bottom: 15px;
}
.mb-20 {
margin-bottom: 20px;
}
.mb-40 {
margin-bottom: 40px;
}
.ml-10 {
margin-left: 10px;
}
.ml-15 {
margin-left: 15px;
}
.ml-20 {
margin-left: 20px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10{
margin-right: 10px;
}
.mr-20{
margin-right: 20px;
}
    /* End Padding + Margin */
/* _________________________________________ */

/* Start Border + Outline + Radius */
.border-e6{
border: 1px solid #e6e6e6;
}
.outline-eee{
border: 1px solid #eee;
}
.border-bl{
border: 1px solid rgba(42, 91, 150,0.2);
}
.border-bl-top{
border-top: 1px solid rgba(42, 91, 150,0.2);
}
.border-bl-bot{
border-bottom: 1px solid rgba(42, 91, 150,0.2);
}
.border-no{
border: none;
}
/* Outline */
.outline-no {
outline: none;
}
/*  Radius */
.rad-6{
border-radius: 6px;
}
.rad-10{
border-radius: 10px;
}
.rad-half{
border-radius: 50%;
}
/* End Border + Outline + Radius */
/* _________________________________________ */

/* Start Color Background + Color */
/* Background */
.bg-eee {
background-color: #eee;
}
.bg-f6 {
background-color: #f6f6f6;
}
.bg-white {
background-color: white;
}
.bg-blue {
background-color: var(--blue-color);
}
.bg-blue2 {
background-color: var(--blue-color2);
}
.bg-blue3 {
background-color: var(--blue-color3);
}
.bg-green {
background-color: var(--green-color);
}
.bg-green2 {
background-color: var(--green-color2);
}
.bg-green3 {
background-color: var(--green-color3);
}
.bg-hgreen {
background-color: var(--hgreen-color);
}
.bg-red {
background-color: var(--red-color);
}
.bg-red2 {
background-color: var(--red-color2);
}
.bg-hred {
background-color: var(--hred-color);
}
.bg-yellow {
background-color: var(--yellow-color);
}
.bg-orange {
background-color: var(--orange-color);
}
.bg-orange2 {
background-color: var(--orange-color2);
}
.bg-purple {
background-color: var(--purple-color);
}
.bg-purple2 {
background-color: var(--purple-color2);
}
.bg-binc {
background-color: var(--binc-color);
}
/* Color */
.c-black{
color: black;
}
.c-white{
color: white;
}
.gray-txt {
color: var(--gray-color);
}
.gray2-txt {
color: var(--gray-color2);
}
.gray3-txt {
color: var(--gray-color3);
}
.txt-777 {
color: #777;
}
.c-blue {
color: var(--blue-color);
}
.c-blue2 {
color: var(--blue-color2);
}
.c-blue3 {
color: var(--blue-color3);
}
.c-green {
color: var(--green-color);
}
.c-green2 {
color: var(--green-color2);
}
.c-green3 {
color: var(--green-color3);
}
.c-hgreen {
color: var(--hgreen-color);
}
.c-red {
color: var(--red-color);
}
.c-red2 {
color: var(--red-color2);
}
.c-hred {
color: var(--hred-color);
}
.c-yellow {
color: var(--yellow-color);
}
.c-orange {
color: var(--orange-color);
}
.c-orange2 {
color: var(--orange-color2);
}
.c-purple {
color: var(--purple-color);
}
.c-purple2 {
color: var(--purple-color2);
}
.c-binc {
color: var(--binc-color);
}
    /* End Color */
/* _________________________________________ */

    /* Start Font */
.f-family {
font-family: sans-serif;
}
.fs-12 {
font-size: 12px;
}
.fs-13 {
font-size: 13px;
}
.fs-14 {
font-size: 14px;
}
.fs-15 {
font-size: 15px;
}
.fs-18 {
font-size: 18px;
}
.fs-20 {
font-size: 20px;
}
.fs-22 {
font-size: 22px;
}
.fs-25 {
font-size: 25px;
}
.fs-30 {
font-size: 30px;
}
.fw-bold {
font-weight: bold;
}
.fw-normal {
font-weight: normal;
}
    /* End Font */
/* _________________________________________ */

    /* Start Position */
.p-rel {
position: relative;
}
.p-absol {
position: absolute;
}
    /* End Position */
/* _________________________________________ */

    /* Start Flex */
.d-flex{
display: flex;
}
.align-c{
align-items: center;
}
.justify-c{
justify-content: center;
}
.space-between{
justify-content: space-between;
}
.f-wrap {
flex-wrap: wrap;
}
    /* End Flex */
/* _________________________________________ */

    /* Start Grid */
.d-grid{
display: grid;
}
.txt-align{
text-align: center;
}
.justify{
justify-content: center;
}
.justify-r{
    justify-content: right;
}
.space-between{
justify-content: space-between;
}
    /* End Grid */
/* _________________________________________ */

    /* Start Components */
.between-flex {
display: flex;
justify-content: space-between;
align-items: center;
}
.center-flex {
display: flex;
justify-content: center;
align-items: center;
}
.btn-shape {
border-radius: 6px;
padding: 5px 10px;
}

    /* End Components */
/* _________________________________________ */

    /* Start Gap */
.gap-5 {
gap: 5px;
}
.gap-10 {
gap: 10px;
}
.gap-20 {
gap: 20px;
}
.gap-30 {
gap: 30;
}
    /* End Gap */
/* _________________________________________ */

    /* Start Text */
.txt-c{
text-align: center;
}
.txt-cap {
text-transform: capitalize;
}
    /* End Text */
/* _________________________________________ */

    /* Start Width */
.w-full {
width: 100%;
}
.w-100 {
width: 100px;
}
.w-fit {
width: fit-content;
}
.h-full {
height: 100%;
}
    /* End Width */
/* _________________________________________ */

    /* Start Other */
.overhid {
overflow: hidden;
}
.d-block {
display: block;
}
.op-1 {
opacity: 1;
}
.op-5 {
opacity: 0.5;
}
.op-03 {
opacity: 0.3;
}
    /* End Other */

/* _________________________________________ */



